<!-- navigation start -->

<app-navbar></app-navbar>

<!-- navigation close -->

<!-- faq section start -->

<section class="faq fill-light-blue-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-wrapper txt-center">
          <div class="section-title -d-line-block border-bottom-4 text-green">
            FAQs
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 mx-auto">
        <div class="my-3">
          <nav>
            <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-Authors-tab" data-toggle="tab" href="#nav-Authors" role="tab"
                aria-controls="nav-Authors" aria-selected="true">Authors</a>
              <a class="nav-item nav-link" id="nav-Reviewer-tab" data-toggle="tab" href="#nav-Reviewer" role="tab"
                aria-controls="nav-Reviewer" aria-selected="false">Reviewer</a>
              <a class="nav-item nav-link" id="nav-Reader-tab" data-toggle="tab" href="#nav-Reader" role="tab"
                aria-controls="nav-Reader" aria-selected="false">Reader</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-Authors" role="tabpanel" aria-labelledby="nav-Authors-tab">
              <div id="accordion">
                <div class="card">
                  <div class="card-header collapsed" data-toggle="collapse" href="#collapseFAQs33">
                    <a class="card-link">How many authors I can have in research paper?</a>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                  <div class="collapse accordion-body" data-parent="#accordion" id="collapseFAQs33">
                    <div class="card-body">
                      <p>
                        Termites are small social insect with distinct pale yellow, whitish with dark lines to brownish
                        black colour and
                        primarily feed on wood materials. There are various species of termites found in our ecosystem.
                        Termites secrete a
                        special substance called pheromone which is light yellow to brown in colour with certain
                        viscosity. Termite builds up
                        colonies in wooden structures, ground floor of buildings and severe infestation occurs in those
                        structures. Termite
                        has different castes like king, queen, soldiers, workers etc. the life cycle of termite is egg,
                        nymphs and adults.
                        Termite is a heavy feeder and feeds gregariously upon damp wood materials and other cellulosic
                        substances.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapsed" data-toggle="collapse" href="#collapseFAQs34">
                    <a class="card-link">How many maximum numbers of pages can be in research paper?</a>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                  <div class="collapse accordion-body" data-parent="#accordion" id="collapseFAQs34">
                    <div class="card-body">
                      <p>
                        Termites are small social insect with distinct pale yellow, whitish with dark lines to brownish
                        black colour and
                        primarily feed on wood materials. There are various species of termites found in our ecosystem.
                        Termites secrete a
                        special substance called pheromone which is light yellow to brown in colour with certain
                        viscosity. Termite builds up
                        colonies in wooden structures, ground floor of buildings and severe infestation occurs in those
                        structures. Termite
                        has different castes like king, queen, soldiers, workers etc. the life cycle of termite is egg,
                        nymphs and adults.
                        Termite is a heavy feeder and feeds gregariously upon damp wood materials and other cellulosic
                        substances.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapsed" data-toggle="collapse" href="#collapseFAQs36">
                    <a class="card-link">How many days it will take to index paper after publication?</a>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                  <div class="collapse accordion-body" data-parent="#accordion" id="collapseFAQs36">
                    <div class="card-body">
                      <p>
                        Termites are small social insect with distinct pale yellow, whitish with dark lines to brownish
                        black colour and
                        primarily feed on wood materials. There are various species of termites found in our ecosystem.
                        Termites secrete a
                        special substance called pheromone which is light yellow to brown in colour with certain
                        viscosity. Termite builds up
                        colonies in wooden structures, ground floor of buildings and severe infestation occurs in those
                        structures. Termite
                        has different castes like king, queen, soldiers, workers etc. the life cycle of termite is egg,
                        nymphs and adults.
                        Termite is a heavy feeder and feeds gregariously upon damp wood materials and other cellulosic
                        substances.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-Reviewer" role="tabpanel" aria-labelledby="nav-Reviewer-tab">
              <div id="accordion">
                <div class="card">
                  <div class="card-header collapsed" data-toggle="collapse" href="#collapseFAQs37">
                    <a class="card-link">How many Reviewer I can have in research paper?</a>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                  <div class="collapse accordion-body" data-parent="#accordion" id="collapseFAQs37">
                    <div class="card-body">
                      <p>
                        Termites are small social insect with distinct pale yellow, whitish with dark lines to brownish
                        black colour and
                        primarily feed on wood materials. There are various species of termites found in our ecosystem.
                        Termites secrete a
                        special substance called pheromone which is light yellow to brown in colour with certain
                        viscosity. Termite builds up
                        colonies in wooden structures, ground floor of buildings and severe infestation occurs in those
                        structures. Termite
                        has different castes like king, queen, soldiers, workers etc. the life cycle of termite is egg,
                        nymphs and adults.
                        Termite is a heavy feeder and feeds gregariously upon damp wood materials and other cellulosic
                        substances.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapsed" data-toggle="collapse" href="#collapseFAQs38">
                    <a class="card-link">How many maximum numbers of pages can be in research paper?</a>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                  <div class="collapse accordion-body" data-parent="#accordion" id="collapseFAQs38">
                    <div class="card-body">
                      <p>
                        Termites are small social insect with distinct pale yellow, whitish with dark lines to brownish
                        black colour and
                        primarily feed on wood materials. There are various species of termites found in our ecosystem.
                        Termites secrete a
                        special substance called pheromone which is light yellow to brown in colour with certain
                        viscosity. Termite builds up
                        colonies in wooden structures, ground floor of buildings and severe infestation occurs in those
                        structures. Termite
                        has different castes like king, queen, soldiers, workers etc. the life cycle of termite is egg,
                        nymphs and adults.
                        Termite is a heavy feeder and feeds gregariously upon damp wood materials and other cellulosic
                        substances.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapsed" data-toggle="collapse" href="#collapseFAQs39">
                    <a class="card-link">How many days it will take to index paper after publication?</a>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                  <div class="collapse accordion-body" data-parent="#accordion" id="collapseFAQs39">
                    <div class="card-body">
                      <p>
                        Termites are small social insect with distinct pale yellow, whitish with dark lines to brownish
                        black colour and
                        primarily feed on wood materials. There are various species of termites found in our ecosystem.
                        Termites secrete a
                        special substance called pheromone which is light yellow to brown in colour with certain
                        viscosity. Termite builds up
                        colonies in wooden structures, ground floor of buildings and severe infestation occurs in those
                        structures. Termite
                        has different castes like king, queen, soldiers, workers etc. the life cycle of termite is egg,
                        nymphs and adults.
                        Termite is a heavy feeder and feeds gregariously upon damp wood materials and other cellulosic
                        substances.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-Reader" role="tabpanel" aria-labelledby="nav-Reader-tab">
              <div id="accordion">
                <div class="card">
                  <div class="card-header collapsed" data-toggle="collapse" href="#collapseFAQs41">
                    <a class="card-link">How many Reader I can have in research paper?</a>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                  <div class="collapse accordion-body" data-parent="#accordion" id="collapseFAQs41">
                    <div class="card-body">
                      <p>
                        Termites are small social insect with distinct pale yellow, whitish with dark lines to brownish
                        black colour and
                        primarily feed on wood materials. There are various species of termites found in our ecosystem.
                        Termites secrete a
                        special substance called pheromone which is light yellow to brown in colour with certain
                        viscosity. Termite builds up
                        colonies in wooden structures, ground floor of buildings and severe infestation occurs in those
                        structures. Termite
                        has different castes like king, queen, soldiers, workers etc. the life cycle of termite is egg,
                        nymphs and adults.
                        Termite is a heavy feeder and feeds gregariously upon damp wood materials and other cellulosic
                        substances.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapsed" data-toggle="collapse" href="#collapseFAQs42">
                    <a class="card-link">How many maximum numbers of pages can be in research paper?</a>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                  <div class="collapse accordion-body" data-parent="#accordion" id="collapseFAQs42">
                    <div class="card-body">
                      <p>
                        Termites are small social insect with distinct pale yellow, whitish with dark lines to brownish
                        black colour and
                        primarily feed on wood materials. There are various species of termites found in our ecosystem.
                        Termites secrete a
                        special substance called pheromone which is light yellow to brown in colour with certain
                        viscosity. Termite builds up
                        colonies in wooden structures, ground floor of buildings and severe infestation occurs in those
                        structures. Termite
                        has different castes like king, queen, soldiers, workers etc. the life cycle of termite is egg,
                        nymphs and adults.
                        Termite is a heavy feeder and feeds gregariously upon damp wood materials and other cellulosic
                        substances.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header collapsed" data-toggle="collapse" href="#collapseFAQs43">
                    <a class="card-link">How many days it will take to index paper after publication?</a>
                    <i class="fas fa-chevron-right"></i>
                  </div>
                  <div class="collapse accordion-body" data-parent="#accordion" id="collapseFAQs43">
                    <div class="card-body">
                      <p>
                        Termites are small social insect with distinct pale yellow, whitish with dark lines to brownish
                        black colour and
                        primarily feed on wood materials. There are various species of termites found in our ecosystem.
                        Termites secrete a
                        special substance called pheromone which is light yellow to brown in colour with certain
                        viscosity. Termite builds up
                        colonies in wooden structures, ground floor of buildings and severe infestation occurs in those
                        structures. Termite
                        has different castes like king, queen, soldiers, workers etc. the life cycle of termite is egg,
                        nymphs and adults.
                        Termite is a heavy feeder and feeds gregariously upon damp wood materials and other cellulosic
                        substances.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<!-- faq section close -->

<!-- footer section start -->

<app-footer></app-footer>

<!-- footer section close -->
