@import '../../scss/mixin';


.faq .nav-tabs .nav-link {
  border-radius: 8px;
  border: 0;
  background: rgba(255, 255, 255, 0.2);
  font-family: 'Roboto', 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: $text-dark;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 0.2s ease;
}

.faq .nav-tabs .nav-link.active {
  background: $white-color;
  color: $text-blue;
  font-weight: 600;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.faq .nav-tabs .nav-link.active:hover {
  background: $white-color;
  color: $text-blue;
}

.faq .nav-tabs .nav-link:hover {
  background: rgba(255, 255, 255, 0.3);
  color: $text-blue;
}

.faq .tab-content {
  padding: 24px;
  background: $white-color;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.faq .card-header {
  border-bottom: 0;
}

.faq #accordion .card-header a {
  font-weight: 600;
  font-size: 16px;
}

#accordion .card {
  background: unset;
}

.faq #accordion .card .accordion-body {
  background: $fill-light-bg;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.faq #accordion .card .accordion-body .card-body,
.faq #accordion .card .accordion-body .card-body p {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  font-size: 16px;
}

.accordion-body {
  border-top: 4px solid $fill-light-gray;
}
