@import '../../scss/mixin';

footer {
  background: $fill-light-gray;
  padding: 30px 0 10px;
}

.footer-title {
  color: $text-dark;
  font-weight: 600;
  margin-bottom: 14px;
}

.footer-item-wrapper {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 14px 0;
}

.footer-blurb ul li,
.footer-blurb ul li a {
  color: $text-dark;
  font-weight: 500;
}

.footer-blurb ul li {
  margin-bottom: 4px;
}

.footer-blurb {
  color: $text-dark;
}

.footer-blurb p {
  margin-bottom: 8px;
}

.footer-blurb input {
  display: block;
  width: calc(100% + -30px);
  border: 0;
  border-radius: 6px;
  padding: 10px 10px 10px 14px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 14px;
}

.footer-blurb ul li a:hover {
  color: $text-blue-secondary;
}

.footer-blurb .btn-blue.fill-blue:hover {
  color: $white-color;
  background: $fill-blue-secondary;
  border-color: $fill-blue-secondary;
}


ul.social-media-area li {
  display: inline-block;
  margin: 8px;
}

.footer-blurb .social-media-area li a {
  @include display-flex;
  @include flex-direction-row;
  justify-content: center;
  @include align-items-center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: $white-color;
  background: $fill-blue;
  border: 2px solid $fill-blue;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

.footer-blurb .social-media-area li a i {
  font-size: 20px;
}

.footer-blurb .social-media-area li a:hover {
  color: $white-color;
  border: 2px solid $fill-blue-secondary;
  background: $fill-blue-secondary;
}

.copyright-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright-text .copyright,
.copyright-text .poweredBy {
  margin: 10px 0;
}

.copyright-text .copyright {
  margin-right: 10px;
}

.copyright-text {
  font-family: 'Roboto',
    'Montserrat',
    sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: $text-dark;
  text-align: center;
  letter-spacing: 0.5px;
}

.copyright-text a {
  font-size: 12px;
  color: $text-dark;
  transition: all 0.2s ease;
}

.copyright-text a:hover {
  color: $text-blue-secondary;
}

@media (max-width: 575.98px) {
  .copyright-text {
    display: block;
  }

  ul.footer-links li a {
    margin-bottom: 0;
  }
}
