<!-- navigation start -->

<app-navbar></app-navbar>

<!-- navigation close -->

<!-- archive-top-header start -->

<section class="archive-top-header fill-green">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="publication-top-header">
          <div class="archive-detail">
            <div class="article-breadcrumb-wrapper">
              <ul class="left-breadcrumb">
                <li class="category-type">
                  Article
                </li>
                <li class="post-date">2019/01/28</li>
                <li class="author-name">
                  By <a routerLink="#">Natal Brich</a> , <a routerLink="#">Christopher Vundi </a>
                </li>
              </ul>
              <div class="right-breadcrumb">
                Volume 1: Issue 1, January 2019
              </div>
            </div>
            <div class="journal-title">
              Is there a difference in 25-hydroxyvitamin D levels between female university students with
              and
              without joint hypermobility?
            </div>
            <div class="journal-meta">
              <div class="journal-meta-item">
                <div class="icon crown">
                  <i class="fas fa-crown"></i>
                </div>
                <span class="Premium-type">
                  Premium
                </span>
              </div>
              <div class="journal-meta-item">
                <div class="icon">
                  <i class="far fa-eye"></i>
                </div>
                <span class="journal-viewedNo">
                  93
                </span>
              </div>
              <div class="journal-meta-item">
                <div class="icon">
                  <i class="fas fa-download"></i>
                </div>
                <span class="hournal-downloadNo">
                  261
                </span>
              </div>
              <div class="journal-meta-item">
                <span class="page-no"> Pages 596 - 635 </span>
              </div>
            </div>
            <div class="btn-journalDownload">
              <button type="button" class="btn btn-rounded btn-outline btn-white btn-transparent">
                <span>Download PDF</span>
                <i class="far fa-file-pdf"></i>
              </button>
            </div>
            <div class="dio-wrapper">
              <a href="https://doi.org/10.18621/eurj.411056">https://doi.org/10.18621/eurj.411056</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- archive-top-header close -->

<!-- archive-detail-body section start -->

<section class="archive-detail-body fill-light-blue-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="section-wrapper my-3">
          <!-- abstract section start -->
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title-wrapper">
                <div class="section-title -d-line-block border-bottom-4 text-green">
                  Abstract
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="blurb-wrapper p-0">
                <p>
                  <span class="article-sub-title">Objectives:</span>
                  Individuals with joint hypermobility (JH) constitute a
                  sensitive group with regard to
                  musculoskeletal problems. This study aimed to investigate whether females with generalized joint
                  hypermobility (GJH) are at risk of hypovitaminosis D compared with non-GJH female participants
                  and whether there is a relationship between vitamin D levels, Beighton score and musculoskeletal
                  complaints.
                </p>
              </div>
              <div class="blurb-wrapper p-0">
                <p>
                  <span class="article-sub-title">Methods:</span>
                  In this cross-sectional, descriptive and case-control
                  study, 76 female participants aged
                  18-25 years were included. The Beighton score with a cut-off of 4/9 was applied for defining GJH.
                  In addition, serum biochemical (the enzymatic colorimetric method) and hormonal (the
                  electrochemiluminescence method) parameters were evaluated.
                </p>
              </div>
              <div class="blurb-wrapper p-0">
                <p>
                  <span class="article-sub-title">Results:</span>
                  The mean serum 25-hydroxyvitamin D (25[OH]D) levels of GJH
                  (n = 38) and non-GJH (n =
                  38) groups were 15.70 ± 7.96 ng/mL and 16.80 ± 5.45 ng/mL, respectively. There was no
                  statistically significant difference between the groups in terms of biochemical and hormonal
                  parameters. We found vitamin D deficiency in 89.5% of participants with GJH, and 84.2% of
                  controls. There was no correlation between vitamin D, Brighton criteria, and musculoskeletal
                  complaints.
                </p>
              </div>
              <div class="blurb-wrapper p-0">
                <p>
                  <span class="article-sub-title">Conclusion:</span>
                  The female participants with GJH showed similar
                  frequency of musculoskeletal
                  complaints and similar low level of 25(OH)D in relation to controls.
                </p>
              </div>
            </div>
          </div>
          <!-- abstract section close -->

          <!-- keyword section start -->
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title-wrapper">
                <div class="section-title -d-line-block border-bottom-4 text-green">
                  Keyword
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="blurb-wrapper p-0">
                <span>female</span>, <span>joint</span> <span>hypermobility</span>, <span>musculoskeletal</span>,
                <span>complaints</span>
              </div>
            </div>
          </div>
          <!-- keyword section close -->

          <!-- References section start -->
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title-wrapper">
                <div class="section-title -d-line-block border-bottom-4 text-green">
                  References
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="blurb-wrapper p-0">
                <ul class="reference-item-wrapper">
                  <li class="list-item">
                    <p>
                      <span>1.</span> Beighton P, De Paepe A, Steinmann B, Tsipouras P, Wenstrup RJ. Ehlers-Danlos
                      syndromes:
                      revised nosology. Villefranche, 1997. Ehlers-Danlos National Foundation (USA) and Ehlers-Danlos
                      Support Group (UK). Am J Med Genet 1988;77:31-7.
                    </p>
                  </li>
                  <li class="list-item">
                    <p>
                      <span>2.</span> Castori M, Tinkle B, Levy H, Grahame R, Malfait F, Hakim A. A framework for
                      the classification of
                      joint hypermobility and related conditions. Am J Med Genet C Semin Med Genet C Semin Med
                      Genet 2017;175:148-57.
                    </p>
                  </li>
                  <li class="list-item">
                    <p>
                      <span>3.</span> Malfait F, Francomano C, Byers P, Belmont J, Berglund B, Black J, et al. The
                      2017 international
                      classification of the Ehlers-Danlos syndromes. Am J Med Genet 2017;175:8-26.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- References section close -->

          <!-- Details section start -->
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title-wrapper">
                <div class="section-title -d-line-block border-bottom-4 text-green">
                  Details
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="blurb-wrapper p-0">
                <ul class="reference-item-wrapper">
                  <li class="list-item">
                    <span class="article-sub-title">Primary Language:&nbsp;</span> <span>English</span>,
                    <span>Nepali</span>
                  </li>
                  <li class="list-item">
                    <span class="article-sub-title">Subjects:&nbsp;</span>Health Care Sciences and Services
                  </li>
                  <li class="list-item">
                    <span class="article-sub-title">Journal Section:&nbsp;</span>Original Articles
                  </li>
                  <li class="list-item">
                    <span class="article-sub-title">Authors:&nbsp;</span>
                    <div class="authors-wrapper">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="author-item">
                            <div class="orcid">
                              <span class="author-item-title">Orcid:</span> 0000-0002-9563-8028
                            </div>
                            <div class="author-name">
                              <span class="author-item-title">Author:</span> Hande Özdemir
                            </div>
                            <div class="institutions-name">
                              <span class="author-item-title">Institutions:</span> Department of Physical
                              Therapy and Rehabilitation, Trakya
                              University School of Health Sciences,
                              Edirne, Turkey
                            </div>
                            <div class="counrty-name">
                              <span class="author-item-title">Country Name:</span> Nepal
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="author-item">
                            <div class="orcid">
                              <span class="author-item-title">Orcid:</span> 0000-0002-1717-9604
                            </div>
                            <div class="author-name">
                              <span class="author-item-title">Author:</span> Derya Demirbağ Kabayel
                            </div>
                            <div class="institutions-name">
                              <span class="author-item-title">Institutions:</span> Department of Physical
                              Therapy and Rehabilitation, Trakya
                              University School of Medicine, Edirne,
                              Turkey
                            </div>
                            <div class="counrty-name">
                              <span class="author-item-title">Country Name:</span> Nepal
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="author-item">
                            <div class="orcid">
                              <span class="author-item-title">Orcid:</span> 0000-0002-9563-8028
                            </div>
                            <div class="author-name">
                              <span class="author-item-title">Author:</span> Hande Özdemir
                            </div>
                            <div class="institutions-name">
                              <span class="author-item-title">Institutions:</span> Department of Physical
                              Therapy and Rehabilitation, Trakya
                              University School of Health Sciences,
                              Edirne, Turkey
                            </div>
                            <div class="counrty-name">
                              <span class="author-item-title">Country Name:</span> Nepal
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="author-item">
                            <div class="orcid">
                              <span class="author-item-title">Orcid:</span> 0000-0002-1717-9604
                            </div>
                            <div class="author-name">
                              <span class="author-item-title">Author:</span> Derya Demirbağ Kabayel
                            </div>
                            <div class="institutions-name">
                              <span class="author-item-title">Institutions:</span> Department of Physical
                              Therapy and Rehabilitation, Trakya
                              University School of Medicine, Edirne,
                              Turkey
                            </div>
                            <div class="counrty-name">
                              <span class="author-item-title">Country Name:</span> Nepal
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Details section close -->

          <!-- Citation section start -->
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title-wrapper">
                <div class="section-title -d-line-block border-bottom-4 text-green">
                  Citation
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="blurb-wrapper p-0">
                <ul class="reference-item-wrapper">
                  <li>
                    <span class="article-sub-title">End Note:&nbsp;</span>
                    <div class="blurb-wrapper">
                      %0 The European Research Journal Is there a difference in 25-hydroxyvitamin D levels between
                      female university students with and without joint hypermobility? %A Filiz Tuna , Hande Özdemir ,
                      Derya Demirbağ Kabayel , Zeynep Banu Doğanlar %T Is there a difference in 25-hydroxyvitamin D
                      levels between female university students with and without joint hypermobility? %D 2019 %J The
                      European Research Journal %P -2149-3189 %V 5 %N 4 %R doi: 10.18621/eurj.411056 %U
                      10.18621/eurj.411056
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Citation section close -->
        </div>

      </div>
      <div class="col-lg-4 col-md-4">
        <div class="journal-stats my-3">
          <ul>
            <li class="premium-download-link">
              <a href="#">
                <i class="fas fa-crown"></i>
                <span>Premium Downloads</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-plus"></i>
                <span>Submit Article</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-archive"></i>
                <span>Archive</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-phone"></i>
                <span>Contact</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fas fa-bell"></i>
                <span>Notices</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- archive-detail-body section close -->

<!-- footer section start -->

<app-footer></app-footer>

<!-- footer section close -->
