<!-- navigation start -->

<app-navbar></app-navbar>

<!-- navigation close -->

<!-- about-us section start -->
<section class="about-us fill-light-secondary-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <div class="section-title-wrapper txt-center">
          <div class="section-title -d-line-block border-bottom-4 text-green">
            About Us
          </div>
        </div>
        <div class="blurb-wrapper txt-center">
          <p>
            The European Research Journal (EuRJ) is an international, independent, double-blind peer
            reviewed, Open Access and online publishing journal, which aims to publish papers on all the
            related areas of basic and clinical medicine. European Research Journal is an international,
            independent, double-blind peer reviewed, Open Access and online publishing journal, which
            aims to publish papers on all the related areas of basic and clinical medicine.Editorial Board
            of the European Research Journal complies with the criteria of the International Council of
            Medical Journal Editors (ICMJE), the World Association of Medical Editors (WAME). Blind peer reviewed, Open
            Access and
            online publishing journal, which aims to publish papers on all the related areas of basic and
            clinical medicine. Blind peer reviewed, Open
            Access and
            online publishing journal, which aims to publish papers on all the related areas of basic and
            clinical medicine. European Research Journal is an international,
            independent, double-blind peer reviewed, Open Access and online publishing journal. which aims to publish
            papers on all the
            related areas of basic and clinical medicine. European Research Journal is an international,
            independent, double-blind peer reviewed, Open Access and online publishing journal, which
            aims to publish papers on all the related areas of basic and clinical medicine.Editorial Board
            of the European Research Journal complies with the criteria of the International Council of
            Medical Journal Editors (ICMJE), the World Association of Medical Editors (WAME). Blind peer reviewed, Open
            Access and
            online publishing journal, which aims to publish papers on all the related areas of basic and
            clinical medicine.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- about-us section close -->

<!-- aim-scope section start -->

<section class="aim-scope fill-light-bg">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-9 mx-auto">
        <div class="section-title-wrapper">
          <div class="section-title -d-line-block border-bottom-4 text-green">
            Our Aim
          </div>
        </div>
        <div class="blurb-wrapper">
          <p>
            European Research Journal is an international, independent, double-blind peer reviewed,
            Open Access and online publishing journal, which aims to publish papers on all the related
            areas of basic and clinical medicine.Editorial Board of the European Research Journal
            complies with the criteria of the International Council of Medical Journal Editors (ICMJE),
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-9 mx-auto">
        <div class="section-title-wrapper">
          <div class="section-title -d-line-block border-bottom-4 text-green">
            Our Scope
          </div>
        </div>
        <div class="blurb-wrapper">
          <p>
            Scope is to publish papers on all the related
            areas of basic and clinical medicine.Editorial Board of the European Research Journal
            complies with the criteria of the International Council of Medical Journal Editors. European Research
            Journal is an international, independent, double-All researchers are
            invited to submit their original papers for peer review and publications. Before submitting
            papers at IJSRP the authors must ensure that their works in original or refereed form have
            never published anywhere and be agreed upon the....blind peer reviewed, Open Access and
            online publishing journal, which aims to publish papers on all the related areas of basic and
            clinical medicine.Editorial Board of the European Research Journal complies with the criteria
            of the International Council of Medical Journal Editors.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- aim-scope section close -->

<!-- editorial books section start -->

<section class="editorial-board fill-light-blue-bg">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12 mx-auto">
        <div class="section-title-wrapper txt-center">
          <div class="section-title -d-line-block border-bottom-4 text-green">
            Editorial Boards
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row row-flex">
          <div class="col-lg-3 col-md-6 col-12">
            <div class="card">
              <div class="card-img img-sm">
                <img
                  src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
              </div>
              <div class="card-blurb-wrapper">
                <div class="member-title">Editorial Title</div>
                <div class="card-title">Pasang Sherpa</div>
                <div class="position">Chair Person</div>
                <div class="institute-name">Institute Name</div>
                <div class="country-name">Nepal</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="card">
              <div class="card-img img-sm">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScSLIjvRRq1AaHazOuIbOvZe8Ezgwmy4vh6QWDcIY4ebObA48dKA">
              </div>
              <div class="card-blurb-wrapper">
                <div class="member-title">Editorial Title</div>
                <div class="card-title">Cristofer Jeschke</div>
                <div class="position">Chair Person</div>
                <div class="institute-name">Institute Name</div>
                <div class="country-name">Nepal</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="card">
              <div class="card-img img-sm">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeGfOt5Ci0f092MMmF0VGDGGVpYmh6uapZa47YIdq5bWBAexZ-">
              </div>
              <div class="card-blurb-wrapper">
                <div class="member-title">Editorial Title</div>
                <div class="card-title">Pasang Sherpa</div>
                <div class="position">Chair Person</div>
                <div class="institute-name">Institute Name</div>
                <div class="country-name">Nepal</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="card">
              <div class="card-img img-sm">
                <img
                  src="https://images.squarespace-cdn.com/content/v1/545e39eae4b042c56b591146/1552862955875-H7IS9MPOSP82N70QXERR/ke17ZwdGBToddI8pDm48kPbXgk92j9lAvhlRMVUW2i97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmW5SZw0zY0wEgct1jJcv4nEO0thkwcYoUq0LykXMV9QIeA8RCeC3dx8NLGh-lW4lN/IMG_2253.JPG?format=1000w">
              </div>
              <div class="card-blurb-wrapper">
                <div class="member-title">Editorial Title</div>
                <div class="card-title">Cristofer Jeschke</div>
                <div class="position">Chair Person</div>
                <div class="institute-name">Institute Name</div>
                <div class="country-name">Nepal</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- editorial books section close -->


<!-- support team section start -->

<section class="support $fill-light-bg">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-12 mx-auto">
        <div class="section-title-wrapper txt-center">
          <div class="section-title -d-line-block border-bottom-4 text-green">
            Suppot Team
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row row-flex">
          <div class="col-lg-3 col-md-6 col-12">
            <div class="card">
              <div class="card-img img-sm">
                <img
                  src="https://images.unsplash.com/photo-1541577141970-eebc83ebe30e?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80">
              </div>
              <div class="card-blurb-wrapper">
                <div class="member-title">Team Supporter Title</div>
                <div class="card-title">Laxman Adhikari</div>
                <div class="position">Language Editor </div>
                <div class="institute-name">Institute Name</div>
                <div class="country-name">Nepal</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="card">
              <div class="card-img img-sm">
                <img
                  src="https://images.unsplash.com/photo-1560241804-02b7b1bc9d55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=328&q=80">
              </div>
              <div class="card-blurb-wrapper">
                <div class="member-title">Team Supporter Title</div>
                <div class="card-title">Pasang Nuru Sherpa</div>
                <div class="position">Analyst </div>
                <div class="institute-name">Institute Name</div>
                <div class="country-name">Nepal</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="card">
              <div class="card-img img-sm">
                <img
                  src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&auto=format&fit=crop&w=515&q=80">
              </div>
              <div class="card-blurb-wrapper">
                <div class="member-title">Team Supporter Title</div>
                <div class="card-title">Laxman Adhikari</div>
                <div class="position">Web Designer </div>
                <div class="institute-name">Institute Name</div>
                <div class="country-name">Nepal</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <div class="card">
              <div class="card-img img-sm">
                <img
                  src="https://images.unsplash.com/photo-1553907725-c3d2e2ccc00e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
              </div>
              <div class="card-blurb-wrapper">
                <div class="member-title">Team Supporter Title</div>
                <div class="card-title">Pasang Nuru Sherpa</div>
                <div class="position">Web Developer </div>
                <div class="institute-name">Institute Name</div>
                <div class="country-name">Nepal</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- support team section close -->


<!-- footer section start -->

<app-footer></app-footer>

<!-- footer section close -->
