<!-- navigation start -->

<app-navbar></app-navbar>

<!-- navigation close -->

<!-- archive-detail section start -->

<section class="archive-detail fill-light-blue-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="section-wrapper my-3">
          <div class="section-header-wrapper border-bottom-4">
            <div class="section-title text-green">
              Volume 4 - 2019, Issue 7 - July
            </div>
          </div>
          <div class="section-blurb my-3">
            <div class="journal-item">
              <div class="author-name">
                By <a routerLink="#">Natal Brich</a> , <a routerLink="#">Christopher Vundi </a>
              </div>
              <div class="journal-title">
                <a routerLink="/publications-detail">
                  Is there a difference in 25-hydroxyvitamin D levels between female university students with and
                  without joint hypermobility?
                </a>
              </div>
              <div class="journal-meta">
                <div class="journal-meta-item">
                  <div class="icon crown">
                    <i class="fas fa-crown"></i>
                  </div>
                  <span class="Premium-type">
                    Premium
                  </span>
                </div>
                <div class="journal-meta-item">
                  <div class="icon">
                    <i class="far fa-eye"></i>
                  </div>
                  <span class="journal-viewedNo">
                    93
                  </span>
                </div>
                <div class="journal-meta-item">
                  <div class="icon">
                    <i class="fas fa-download"></i>
                  </div>
                  <span class="hournal-downloadNo">
                    261
                  </span>
                </div>
              </div>
              <div class="btn-journalDownload">
                <button type="button" class="btn btn-rounded btn-outline btn-blue btn-transparent">
                  <span>Download PDF</span>
                  <i class="far fa-file-pdf"></i>
                </button>
              </div>
            </div>
            <div class="journal-item">
              <div class="author-name">
                By <a routerLink="#">Christopher Vundi </a>
              </div>
              <div class="journal-title">
                <a routerLink="/publications-detail">
                  Digital Color Images Based on Mathematical Morphology and Fuzzy Decision
                </a>
              </div>
              <div class="journal-meta">
                <div class="journal-meta-item">
                  <div class="icon">
                    <i class="far fa-eye"></i>
                  </div>
                  <span class="journal-viewedNo">
                    93
                  </span>
                </div>
                <div class="journal-meta-item">
                  <div class="icon">
                    <i class="fas fa-download"></i>
                  </div>
                  <span class="hournal-downloadNo">
                    261
                  </span>
                </div>
              </div>
              <div class="btn-journalDownload">
                <button type="button" class="btn btn-rounded btn-outline btn-blue btn-transparent">
                  <span>Download PDF</span>
                  <i class="far fa-file-pdf"></i>
                </button>
              </div>
            </div>
            <div class="journal-item">
              <div class="author-name">
                By <a routerLink="#">Natal Brich</a> , <a routerLink="#">Christopher Vundi </a>
              </div>
              <div class="journal-title">
                <a routerLink="#">
                  Is there a difference in 25-hydroxyvitamin D levels between female university students with and
                  without joint hypermobility?
                </a>
              </div>
              <div class="journal-meta">
                <div class="journal-meta-item">
                  <div class="icon">
                    <i class="far fa-eye"></i>
                  </div>
                  <span class="journal-viewedNo">
                    93
                  </span>
                </div>
                <div class="journal-meta-item">
                  <div class="icon">
                    <i class="fas fa-download"></i>
                  </div>
                  <span class="hournal-downloadNo">
                    261
                  </span>
                </div>
              </div>
              <div class="btn-journalDownload">
                <button type="button" class="btn btn-rounded btn-outline btn-blue btn-transparent">
                  <span>Download PDF</span>
                  <i class="far fa-file-pdf"></i>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="section-title-wrapper my-3">
          <div class="section-title -d-line-block border-bottom-4 text-green">
            Archive
          </div>
        </div>
        <div id="accordion">
          <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" href="#collapseArchive33"><a
                class="card-link -title-md">Volume
                4 - 2019</a>
              <i class="fas fa-chevron-right"></i>
            </div>
            <div class="collapse accordion-body" data-parent="#accordion" id="collapseArchive33">
              <div class="card-body">
                <ul class="accordion-items">
                  <li>
                    <div class="card-header" routerLink="/publications-volume-listing">
                      <a class="card-link -title-md">Volume 4 - 2019, Issue 7 - July</a>
                      <i class="far fa-eye"></i>
                    </div>
                  </li>
                  <li>
                    <div class="card-header">
                      <a class="card-link -title-md">Volume 4 - 2019, Issue 6 - July</a>
                      <i class="far fa-eye"></i>
                    </div>
                  </li>
                  <li>
                    <div class="card-header">
                      <a class="card-link -title-md">Volume 4 - 2019, Issue 5 - July</a>
                      <i class="far fa-eye"></i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" href="#collapseArchive34"><a
                class="card-link -title-md">Volume
                3 - 2019
              </a>
              <i class="fas fa-chevron-right"></i>
            </div>
            <div class="collapse accordion-body" data-parent="#accordion" id="collapseArchive34">
              <div class="card-body">
                <ul class="accordion-items">
                  <li>
                    <div class="card-header">
                      <a class="card-link -title-md">Volume 3 - 2019, Issue 7 - June</a>
                      <i class="far fa-eye"></i>
                    </div>
                  </li>
                  <li>
                    <div class="card-header">
                      <a class="card-link -title-md">Volume 3 - 2019, Issue 6 - June</a>
                      <i class="far fa-eye"></i>
                    </div>
                  </li>
                  <li>
                    <div class="card-header">
                      <a class="card-link -title-md">Volume 3 - 2019, Issue 5 - June</a>
                      <i class="far fa-eye"></i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- archive-detail section close -->

<!-- footer section start -->

<app-footer></app-footer>

<!-- footer section close -->
