@import '../../scss/mixin';

.membership-Detail {
  padding: 4px;
}

.membership-Detail .membership-item {
  margin: 0px 0 24px;
}

.membership-item .item-title {
  font-size: 16px;
  color: $text-dark;
  font-weight: 700;
  margin-bottom: 6px;
}

#accordion .membership-item .item-info,
#accordion .membership-item .item-info p {
  font-size: 16px;
  color: $text-dark;
  font-family: 'Roboto', 'Poppins', sans-serif;
  margin-bottom: 6px;
}
